/* 나눔스퀘어 볼드 */
@font-face {
    font-family: "Neo-Bold";
    src: url("NanumSquareNeoOTF-Bd.otf") format("opentype");
}

/* 레귤러 */
@font-face {
    font-family: "Neo-Regular";
    src: url("NanumSquareNeoOTF-Rg.otf") format("opentype");
}

/* 라이트 */
@font-face {
    font-family: "Neo-Light";
    src: url("/NanumSquareNeoOTF-Lt.otf") format("opentype");
}

/* 엑스트라볼드 */
@font-face {
    font-family: "Neo-ExtraBold";
    src: url("NanumSquareNeoOTF-Eb.otf") format("opentype");
}

/* 헤비 */
@font-face {
    font-family: "Neo-Heavy";
    src: url("NanumSquareNeoOTF-Hv.otf") format("opentype");
}